<html>
  <head>
    <meta charset='utf-8' />
    <title>Calc</title>
  </head>
  <body>
    <h3>Result:</h3>
    {{a}}
    {{operation}}
    {{b}}
    =
    {{result}}

    <a href='/'>Back</a>
  </body>
</html>